*,
*::after,
*::before {
  box-sizing: border-box;
}
.pos--abs {
  position: absolute;
}

.absolute {
  position: relative;
  display: flex;
  left: 0;
  align-items: center;
  justify-content: center;
}

body {
  height: 100%;
  max-height: 100vh;
  background: #e4a502;
  overflow: hidden;
  will-change: background;
  transition: background 400ms ease-out;
}

header {
  color: #ffffff;
}

h1 {
  font-size: 22px;
  line-height: 22px;
  margin: 0;
}
h1 span {
  font-size: 29px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 33px 0;
}
nav div {
  display: inherit;
  align-items: inherit;
}
nav:nth-child(1) p,
nav:last-child a:last-child {
  margin: 0 0 0 52px;
}

nav a {
  font-size: 1rem;
  line-height: 175%;
  text-decoration: none;
  color: inherit;
}

.hero__text {
  font-size: 15px;
  line-height: 175%;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  max-width: 354px;
  margin: 0;
  color: #fbfcfe;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop {
  overflow: hidden;
  position: absolute;
}
.shop__btn {
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 1px solid #ffffff;
}
button:focus {
  outline: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
button span {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.vid__btn {
  display: flex;
  align-items: center;
}

.vid__btn svg {
  margin-right: -16px;
}

.vid__btn span {
  left: 75px;
  width: max-content;
  display: block;
}

.card {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 44px);
  z-index: 0;
}

.card__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__element {
  width: 712px;
  height: 501px;
  position: absolute;
  overflow: hidden;
  cursor: grab;
  background-repeat: no-repeat;
  background-size: 100%;
}

.card__container :nth-child(1) {
  background-position: top;
  transform: rotate(6deg) !important;
  pointer-events: none;
  opacity: 1 !important;
}
.card__container :nth-child(2) {
  will-change: transform;
  transition: transform 400ms ease-out;
  transform: rotate(0deg) !important;
  opacity: 1 !important;
  pointer-events: none;
}
.card__container :nth-child(3) {
  opacity: 1 !important;
  transform: translate3d(0, 0%, 0px) rotate(-6.0001deg);
}

main {
  height: calc(100vh - 44px);
}

.index {
  z-index: 500;
  right: 50%;
  transform: translateX(50%);
  top: calc(75%);
}

h2 {
  font-weight: normal;
  font-size: 127px;
  line-height: 127px;
  display: block;
  color: #ffffff;
  margin: 0;
}

h2 > * {
  letter-spacing: -0.0345em !important;
  display: block;
}

.hero__flex {
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1408px;
  overflow: hidden;
}
.over__hidden {
  overflow-x: visible;
  overflow-y: hidden;
}
.over__hidden span {
  display: block;
}
.hero__one {
  padding-right: 97px;
  top: 45%;
  transform: translate(50%, -50%);
}
.hero__two {
  margin-top: -50px;
  padding-left: 110px;
  top: 62%;
  transform: translate(50%, -50%);
}
.hero__two h2 {
  margin-left: -96px;
}

span {
  letter-spacing: -0.001em;
}
p {
  letter-spacing: 0.02em;
}
